<div class="container">

<h1>Success!</h1>

<h2>You total was <%= @session.amount_total.to_f / 100 %> zł</h2>
<br />
<% @line_items.each do |item| %>
  <h3><%= item.description %></h3>
  <br />
  <p><%= item.price.unit_amount.to_f / 100 %> zł</p>
    <% product = Stripe::Product.retrieve(item.price.product) %>
    <%= image_tag(product.images.first, width: 300) if product.images.present? %>
<% end %>
</div>
